--extra-index-url https://download.pytorch.org/whl/cpu

pydantic
pydantic-settings
pydantic[email]
python-multipart

# Web Framework
fastapi
uvicorn
firebase-admin
imagehash

# AI and Image Processing
pinecone
google-generativeai 
torch==2.6.0
torchvision==0.21.0
transformers==4.42.0

geopy 
gtts
deep_translator
sentence-transformers
 
