Cython
setuptools
wheel
PyYAML>=6.0.1

# Web Framework
fastapi==0.115.12
uvicorn>=0.29.0

# Database
firebase-admin==7.1.0

# Data Validation
pydantic==2.11.3

# Environment Variables
python-dotenv==1.0.1
pydantic-settings

# Development tools (optional)
httpx==0.28.1
pytest==8.2.2
python-multipart==0.0.20
pillow
imagehash

# AI and Image Processing
langchain-google-genai
langchain-core
pydantic[email]

pinecone-client
# langchain-pinecone==0.1.0
transformers==4.36.0
torch==2.1.0
torchvision==0.16.0
geopy 



# *****************************

# # Build essentials
# Cython
# setuptools
# wheel
# PyYAML>=6.0.1

# # Web Framework
# fastapi==0.115.2
# uvicorn>=0.29.0

# # Database
# firebase-admin==7.1.0

# # Data Validation
# pydantic==2.11.3

# # Environment Variables
# python-dotenv==1.0.1
# pydantic-settings

# # Development tools (optional)
# httpx==0.28.1
# pytest==8.2.2
# python-multipart==0.0.20
# pillow
# imagehash

# # AI and Image Processing (Pinned Versions to Avoid Conflicts)
# langchain==0.1.16
# langchain-core==0.1.53
# langchain-google-genai==1.0.3
# google-generativeai==0.5.4
# langchain-pinecone==0.1.0
# pinecone-client==3.2.2
# transformers==4.36.0
# torch==2.1.0
# torchvision==0.16.0

# # Optional community integrations
# # langchain-community==0.0.20
