Cython
setuptools
wheel
PyYAML>=6.0.1

# Web Framework
fastapi==0.110.0
uvicorn[standard]==0.29.0

# Database
firebase-admin==7.1.0

# Data Validation
pydantic==1.10.22

# Environment Variables
python-dotenv==1.0.1
pydantic-settings


# Development tools (optional)
httpx==0.28.1
pytest==8.2.2
python-multipart==0.0.20
pillow
imagehash

# AI and Image Processing
langchain-google-genai
langchain-core


